<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite">
<listeners>
	<listener class-name="trifacta.listeners"/>
	<listener class-name="resources.ExtentReporterNG"/>
</listeners>
  <test name="Validating HomePage Header Section">
    <classes>
      <class name="trifacta.TrifactaUIHomePageHeaderlinksTest"/>
  </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
